h2 {
	color:#6A6F8A !important;
	text-align: center !important;
	margin-bottom: 10px !important;
	font-size:70px !important;
	letter-spacing: 1px !important;
	font-family: 'Satisfy', cursive !important;
	font-weight:bold !important;
}

p {
	color: #7A7A7A !important;
}