<!doctype HTML>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
			<script src="http://code.jquery.com/jquery-latest.js"></script>
			<script src="{{ url_for('static', filename='script.js') }}"></script>
			<script src="http://maps.google.com/maps/api/js?key=AIzaSyCx3PCrVGpP6EJX940iMkP5i9QqVjdubAc&sensor=true&libraries=places"></script>
			<title>Humap - Young Rewired State 2012</title>
			<link rel="shortcut icon" href="/static/images/favicon.ico">
		</head>
		<body>
			<div class="container">
				<h2 title="Humap" class="inner_shadow">Humap</h2>
				<div class="content_wrapper">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</body>

	</html>
