{% extends "base.html" %}
{% block content %}
	<form action="{{ url_for('search') }}" method=post>

	<p>I am at ... </p>
		<div class="input_wrap">
			<input type="text" placeholder="From here" name="from_address" id="from_address"/><div class="gps_nav"></div>
		</div>

	<p>and I would like to go to ... </p>
		<div class="input_wrap">
			<input type="text" placeholder="To here" name="to_address" id="to_address" />
		</div>
		<div class="input_wrap">
			<div class="google_log">
				<img src="http://maps.gstatic.com/mapfiles/powered-by-google-on-white.png" />
			</div>
			<input type="submit" value="Directions &raquo" />
		</div>
	</form>
{% endblock %}